#upload-form {
    display: flex;
    flex-wrap: wrap;
}

#upload-form input[type="text"], #upload-form button, #upload-form label  {
    box-sizing: border-box;
    margin: 7px 0px;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .1);
    border: none;
    transition: background-color .2s ease-in-out;
    /* https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size */
    min-width: 0;
    min-height: 0;
    width: 100%;
}

#upload-form input:focus, #upload-form textarea:focus {
    background-color: #eee;
}

#upload-form input[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

#upload-form input[type="file"] + label {
    cursor: pointer;
}

#upload-form button {
    width: 100px;
    cursor: pointer;
    background-color: #eee;
}

#upload-form input:focus {
    background-color: #ccc;
}

#upload-form label:hover, #upload-form button:hover {
    background-color: #ccc;
}

#upload-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* MEDIA */

@media (min-width: 500px) {
    #upload-details {
        flex-wrap: nowrap;
    }
    #upload-form input[type="text"], #upload-form button, #upload-form label {
        padding: 7px;
    }
    #upload-form label { 
        margin-right: 10px;
    }
    #upload-form #upload-author {
        margin-left: 10px;
    }
}